<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NETTRASH.BOT.Trade.Properties.Settings.DBConnection"
            connectionString="Data Source=.;Initial Catalog=SIBPAY;Integrated Security=True;Asynchronous Processing=True;Encrypt=True;TrustServerCertificate=True;Application Name=NETTRASH.SIB.PaymentPortal;Column Encryption Setting=Enabled" />
    </connectionStrings>
</configuration>